.Login_container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.Login_container-Instagram_main {
  display: flex;
  justify-content: space-around;
}

.Login_container-login_form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 100%;
  margin-top: 15px;

  .Login_container_login-form_box-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #dbd9d9;
    background-color: white;

    .Login_container-login-form_instagram-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 36px 0 12px 0;

      img {
        width: 200px;
        height: 100%;
      }
    }

    .separator_OR {
      margin: 10px 0;
    }

    .form_container_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px 0;

      .Login_container_login-a {
        margin-top: 8px;
        text-decoration: none;
        font-weight: bold;

        .Login_container_login_facebook {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;
          color: #385185;

          h2 {
            position: relative;
            top: 2px;
          }
        }
      }

      .Login_container-forgot_password-p {
        margin-top: 15px;
        font-size: 12px;
        color: #4e68a0;
      }
    }
  }

  .Login_container_login-form_box-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #dbd9d9;
    margin-top: 10px;
    padding: 23px 0px;
    background-color: white;
  }

  .Login_container_login-form_box-3 {
    width: 100%;
    margin-top: 20px;
  }
}
