.Login_container_get_the_app {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Login_container_get_app_heading {
        display: flex;
        justify-content: center;
    }
  
    .Login_container_get_instagram_store-images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
  
    img {
      padding: 0 5px;
      width: 150px;
    }
  }
  