.ChatPage_container_light {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow: hidden;
}
.ChatPage_container_dark {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.ChatPage_Navbar-container_light {
  border-bottom: 1px solid gray;
}
.ChatPage_Navbar-container_dark {
  border-bottom: 1px solid wheat;
}

.ChatPage_chat_container {
  height: 46.5vh;
}

.str-chat-channel .str-chat__container {
  height: 92%;
  overflow: hidden;
}