.Editpage_container_dark {
  background-color: black;
  overflow: hidden;
}

.Editpage_container_light {
  background-color: #fafafa;
}

.disableScroll {
  overflow-y: hidden;
  height: 100vh;
}

.Editpage_container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@mixin UpdateBox1($bg, $color, $width, $padding, $marginL) {
  width: $width;
  border: 1px solid rgba(197, 176, 197, 0.667);
  padding: 20px $padding;
  background: $bg;
  color: $color;
  overflow: hidden;

  .Editpage_container_profile {
    display: flex;

    .Editpage_container_profile-image {
      margin-right: 35px;
      margin-left: $marginL;

      img {
        border-radius: 50%;
      }
    }

    .Editpage_container_username {
      display: flex;
      flex-direction: column;
      justify-content: center;

      strong {
        color: blueviolet;
        cursor: pointer;
      }
    }
  }
}

.Editpage_container_div-edit_dark {
  @include UpdateBox1(rgb(38, 28, 44), white, 600px, 60px, 100px);
}

.Editpage_container_div-edit_light {
  @include UpdateBox1(white, black, 600px, 60px, 100px);
}

// Inputs
.Editpage_container_inputs {
  display: flex;
  width: 100%;
  margin-top: 20px;

  .Editpage_container_name {
    width: 178px;
    display: flex;
    justify-content: flex-end;
    padding-right: 34px;

    strong {
      margin-top: 5px;
    }
  }

  .Editpage_container_input {
    display: flex;
    flex-direction: column;
    width: 300px;

    input {
      height: 30px;
      padding: 5px 10px;
      border-radius: 10px;
    }

    input:focus {
      outline: none;
    }

    textarea {
      padding: 10px 10px;
      border-radius: 10px;
    }

    textarea:focus {
      outline: none;
    }

    strong {
      margin-top: 10px;
      font-size: 15px;
      color: rgb(175, 176, 175);
    }

    p {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.Editpage_container_submit {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 30px;

  input {
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

@mixin meta_container($bg, $color, $width, $padding) {
  width: $width;
  background-color: $bg;
  border: 1px solid rgba(197, 176, 197, 0.667);
  padding: 20px $padding;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $color;

  .Editpage_meta_container_logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  h3 {
    color: blueviolet;
    margin-top: 10px;
    cursor: pointer;
  }

  p {
    font-size: 13px;
    margin-top: 10px;
  }
}

.Editpage_meta_container_dark {
  @include meta_container(rgb(38, 28, 44), white, 600px, 60px);
}
.Editpage_meta_container_light {
  @include meta_container(white, black, 600px, 60px);
}

.Editpage_profile_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);

  .Editpage_profile_page {
    display: flex;
    flex-direction: column;
    background: white;
    width: 350px;
    align-items: center;
    border-radius: 10px;

    ul {
      list-style: none;
      width: 100%;
      text-align: center;
    }

    p {
      padding: 30px 0px;
      font-size: 20px;
      font-weight: bold;
    }

    li {
      border-top: 1px solid #fafa;
      padding: 10px;
      cursor: pointer;

      label {
        cursor: pointer;
      }
    }

    li:nth-child(1) {
      color: red;
    }
    li:nth-child(2) {
      color: blueviolet;
    }
  }
}

@media (max-width: 630px) {
  .Editpage_container_div-edit_dark {
    @include UpdateBox1(rgb(38, 28, 44), white, 480px, 60px, 100px);
  }

  .Editpage_container_div-edit_light {
    @include UpdateBox1(white, black, 480px, 60px, 100px);
  }

  .Editpage_meta_container_dark {
    @include meta_container(rgb(38, 28, 44), white, 480px, 10px);
  }
  .Editpage_meta_container_light {
    @include meta_container(white, black, 480px, 10px);
  }
}

@media (max-width: 500px) {
  .Editpage_container_div-edit_dark {
    @include UpdateBox1(rgb(38, 28, 44), white, 320px, 20px, 30px);
  }

  .Editpage_container_div-edit_light {
    @include UpdateBox1(white, black, 320px, 20px, 30px);
  }

  .Editpage_meta_container_dark {
    @include meta_container(rgb(38, 28, 44), white, 320px, 10px);
  }
  .Editpage_meta_container_light {
    @include meta_container(white, black, 320px, 10px);
  }

  .Editpage_container_inputs {
    .Editpage_container_name {
      width: 100px;
      justify-content: flex-start;
      padding-right: 5px;
    }
  }
}

@media (max-width: 430px) {
  .Editpage_container_inputs {
    .Editpage_container_input {
      width: 220px;
      display: flex;
      justify-content: flex-end;

      input {
        font-size: 12px;
      }

      textarea {
        width: 190px;
        font-size: 12px;
      }

      p {
        font-size: 8px;
      }
    }

    .Editpage_container_name {
      font-size: 18px;
      strong {
        font-size: 14px;
      }
    }
  }

  .Editpage_profile_container {
    .Editpage_profile_page {
      width: 250px;
  
      p {
        padding: 15px 0px;
        font-size: 18px;
        font-weight: bold;
      }
  
      li {
        border-top: 1px solid #fafa;
        padding: 8px;
        font-size: 14px;
      }
    }
  }

  .Editpage_container_submit {
    margin-right: 0px;
  }
}
