@mixin Homediv($bg,$color) {
  background-color: $bg ;
  color: $color;
}

.Home_container_dark {
  @include Homediv(black,white)
}

.Home_container_light {
  @include Homediv(#fafafa,black)
}

.HomePage_container_div {
  padding-top: 40px;
}

.Home_container_navbar-container {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
}