@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@mixin Homediv($bg, $color) {
  background-color: $bg;
  color: $color;
  overflow: hidden;
}

.Home_container_dark {
  @include Homediv(black, white);
}

.Home_container_light {
  @include Homediv(#fafafa, black);
}

.HomePage_container_div {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.Home_container_navbar-container {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
}

@mixin ImageContainer($bg, $width, $height,$border) {
  display: flex;
  flex-direction: column;
  width: $width;
  height: $height;
  padding: 15px 0px;
  background: $bg;
  border: 1px solid rgba(197, 176, 197, 0.667);
  overflow: hidden;
  border-radius: $border;
  margin-top: 60px;
  align-items: center;
  box-shadow: 0px 1px 5px 2px rgba(222, 190, 190, 0.672);
}

.HomePage_container_Images-container_light {
  @include ImageContainer(white, 745px, 575px,0px);
}
.HomePage_container_Images-container_dark {
  @include ImageContainer(rgb(38, 28, 44), 745px, 575px,0px);
}

.HomePage_container_Images-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;

  .HomePage_container_Images-user_threedot {
    cursor: default;
    margin-bottom: 10px;
    p {
      font-size: 20px;
    }
  }
}

.HomePage_container_Images-user_profile-container {
  display: flex;
  padding-bottom: 15px;
  img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    border: 1px solid rgb(192, 166, 166);
  }

  .HomePage_container_Images-user_username {
    padding-left: 10px;

    p:nth-child(1) {
      font-weight: bold;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }
  }
}

.HomePage_container_Images-img {
  width: 100%;
  height: 440px;

  img {
    height: 100%;
    width: 100%;
  }
}

@keyframes y-axis-rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.HomePage_container_Images-reaction {
  display: flex;
  width: 100%;
  padding: 0 20px;
  padding-top: 12px;

  .HomePage_container_image_react_icons {
    display: flex;
    align-items: center;

    li:nth-child(1) {
      svg {
        animation: y-axis-rotation 0.5s linear;
      }
    }

    li {
      display: flex;
      padding: 0 10px;
      text-align: center;
      align-items: flex-end;

      span {
        font-size: 15px;
      }
    }

    li:nth-child(2) {
      font-size: 26px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;

    li {
      font-size: 25px;

      svg {
        cursor: pointer;
      }
    }

    li:nth-child(2) {
      font-size: 28px;
    }
  }
}

@mixin ProfileContainer($bg) {
  display: flex;
  padding: 20px 20px;
  height: 100px;
  width: 350px;
  justify-content: space-between;
  border: 1px solid rgba(197, 176, 197, 0.667);
  background: $bg;
  margin-top: 115px;
  box-shadow: 0px 1px 5px 2px rgba(222, 190, 190, 0.672);
  position:fixed;
  right: 80px;
}

.HomePage_container_Profile-container_light {
  @include ProfileContainer(white);
}

.HomePage_container_Profile-container_dark {
  @include ProfileContainer(rgb(38, 28, 44));
}

.HomePage_container_Profile_image-container {
  display: flex;
}

.HomePage_container_Profile_image {
  display: flex;
  align-items: center;

  img {
    border-radius: 20px;
  }
}

.HomePage_container_Profile_username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.HomePage_container_Profile_bio-container {
  display: flex;
  align-items: center;

  strong {
    color: blueviolet;
  }
}

@media (max-width: 1320px) {
  .HomePage_container_Profile-container_dark,
  .HomePage_container_Profile-container_light {
    display: none;
  }
}

@media (max-width: 760px) {
  .HomePage_container_Images-container_light {
    @include ImageContainer(white, 600px, 440px,10px);
  }
  .HomePage_container_Images-container_dark {
    @include ImageContainer(rgb(38, 28, 44), 600px, 440px,10px);
  }

  .HomePage_container_Images-img {
    height: 300px;
  }
}
@media (max-width: 630px) {
  .HomePage_container_Images-container_light {
    @include ImageContainer(white, 100vw, 500px,0);
  }
  .HomePage_container_Images-container_dark {
    @include ImageContainer(rgb(38, 28, 44), 100vw, 500px,0);
  }

  .HomePage_container_Images-img {
    height: 360px;
  }
}

@media (max-width: 430px) {
  .HomePage_container_div {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomePage_container_Images-container_light {
    @include ImageContainer(white, 100vw, 500px,0);
  }
  .HomePage_container_Images-container_dark {
    @include ImageContainer(rgb(38, 28, 44), 100vw, 500px,0);
  }

  .HomePage_container_Images-img {
    height: 370px;
  }

  .HomePage_container_Images-user_profile-container {
    img {
      height: 35px;
      width: 35px;
    }

    .HomePage_container_Images-user_username {
      padding-left: 10px;

      p:nth-child(1) {
        font-size: 12px;
      }
    }
  }

  .HomePage_container_Images-user {
    padding: 0 14px;
  }
  .HomePage_container_Images-user_threedot {
    p {
      font-size: 10px;
    }
  }
}
