.LoadingScreen_container {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width:250px ;
    }
}