.Navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 5px;
}

.Navbar_container-Box1 {
  .Navbar_container-Box1-logo {
    width: 310px;
  }
  img {
    width: 130px;
  }
}

.Navbar_container-Box2 {
  padding: 0 200px 0 200px;

  span {
    position: relative;
    top: 1.5px;
    left: 30px;
    color: rgba(158, 136, 136, 0.851);
  }

  .Navbar_container-Box2-search {
    display: flex;
    position: relative;
    input {
      background-color: rgb(239, 239, 239);
      border: 1px solid rgb(188, 188, 188);
      border-radius: 5px;
      padding: 8px 150px;
      font-size: 12px;
    }
    label {
      display: flex;
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 20px;
      color: black;
    }
  }
}

@mixin box3Icons($bg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;

  li:first-child {
    a {
      font-size: 28px;
    }
  }

  li:last-child {
    padding-bottom: 5px;
  }

  li {
    margin: 0 10px;
    img {
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: $bg;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.Navbar_container-Box3 {
  .Navbar_container-Box3-icons_dark {
    @include box3Icons(white);
  }
  .Navbar_container-Box3-icons_light {
    @include box3Icons(black);
  }
}
