.Navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.Navbar_container-Box1 {
  .Navbar_container-Box1-logo {
    width: 310px;
  }
  img {
    width: 130px;
  }
}

.Navbar_container-Box2 {
  span {
    position: relative;
    top: 1.5px;
    left: 30px;
    color: rgba(158, 136, 136, 0.851);
  }

  .Navbar_container-Box2-search {
    display: flex;
    position: relative;
    input {
      background-color: rgb(239, 239, 239);
      border: 1px solid rgb(188, 188, 188);
      border-radius: 5px;
      padding: 8px 150px;
      font-size: 12px;
    }
    label {
      display: flex;
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 20px;
      color: black;
    }
  }
}

@mixin dropDown($prop) {
  position: absolute;
  top: 60px;
  right: 60px;
  list-style: none;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px 0px;
  border-radius: 10px;
  display: $prop;
  flex-direction: column;
  align-items: center;
  width: 110px;
  text-align: center;
  border: 1px solid gray;

  li {
    padding: 8px 0;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-left: 5px;
    }

    .Navbar_profile_navigate {
      background: white;
      color: white;
    }
  }

  li:hover {
    color: rgba(0, 0, 0, 0.591);
  }

  .triangle {
    display: block;
    position: absolute;
    border-style: solid;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-top-color: gray;
    border-left-color: gray;
    transform: rotate(45deg);
    top: -10px;
    margin-right: 4px;
  }
}

.Navbar_profile_logout {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  ul {
    @include dropDown(none);
  }
}

.Navbar_profile_logout:hover {
  ul {
    @include dropDown(flex);
    z-index: 100;
  }
}

@mixin box3Icons($bg,$display) {
  display: $display;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;

  li:first-child {
    a {
      font-size: 28px;
      cursor: pointer;
    }
  }

  li:last-child {
    padding-bottom: 5px;
  }

  .Navbar_profile_logout {
    cursor: pointer;
  }

  li {
    margin: 0 10px;
    img {
      border-radius: 50%;
    }
    a {
      cursor: default;
      text-decoration: none;
      color: $bg;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.Navbar_container-Box3 {
  .Navbar_container-Box3-icons_dark {
    @include box3Icons(white,flex);
  }
  .Navbar_container-Box3-icons_light {
    @include box3Icons(black,flex);
  }
  .Navbar_container-Box3-icons_two_dark {
    @include box3Icons(white,none);
  }
  .Navbar_container-Box3-icons_two_light {
    @include box3Icons(black,none);
  }
}

.Navbar_container-Box3-icons_two_dark,
.Navbar_container-Box3-icons_two_light {
  display: none;
}

@media (max-width: 1250px){
  .Navbar_container-Box2 {
    display: none;
  }
}

@media (max-width: 800px){
  .Navbar_container-Box3 {
    .Navbar_container-Box3-icons_dark {
      @include box3Icons(white,none);
    }
    .Navbar_container-Box3-icons_light {
      @include box3Icons(black,none);
    }
    .Navbar_container-Box3-icons_two_dark {
      @include box3Icons(white,flex);
    }
    .Navbar_container-Box3-icons_two_light {
      @include box3Icons(black,flex);
    }
  }
}

@media (max-width: 500px) {
  .Navbar_container-Box1 {
    .Navbar_container-Box1-logo {
      width: 150px;
    }
    img {
      width: 120px;
    }
  }
}