.Profile_container_light {
  height: 100vh;
  background-color: #fafafa;
}

.Profile_container_dark {
  height: 100vh;
  background-color: #050100;
}

.user-userinfo {
  padding-top: 20px;
}

.Profile_container-user_nav_dark {
  background-image: url("../assets/jwst_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;

  h1,
  p,
  i {
    color: white;
    text-shadow: 2px 2px 0px #000000;
  }
}

.Profile_container-user_nav_light {
  background-image: url("../assets/sunflower.jpg");
  background-repeat: no-repeat;
  padding-bottom: 30px;
  background-size: cover;
  h1,
  p,
  i {
    color: black;
    text-shadow: 2px 2px 0px #ffffff;
  }
}

.user_profile_picture-container {
  display: flex;
  justify-content: center;

  img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgb(177, 70, 17);
  }

  img:hover {
    box-shadow: 0px 0px 16px 8px rgb(161, 67, 19);
    transition: box-shadow 0.2s ease-in-out;
  }
}

.user_profile_picture-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  p {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
  }

  i {
    margin-top: 10px;
    font-weight: bold;
  }
}

@mixin userFollow($col) {
  display: flex;
  justify-content: space-between;
  padding: 35px 150px;
  color: $col;
  font-size: 18px;
}

.user_profile_picture-userinfo_fp_light {
  @include userFollow(black);
}

.user_profile_picture-userinfo_fp_dark {
  @include userFollow(rgb(243, 231, 231));
}

@mixin galleryImage($bg, $bg2, $svg, $font) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 20px 40px;
  background-color: $bg;

  .Profilepage_user-image_container {
    height: 370px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .Profilepage_user-image_uploader {
    background-color: $bg2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
  
    svg {
      color: $svg;
    }

    p {
      padding-top: 10px;
      color: $font;
    }
  }
}

.Profiepage_user-media_container_dark {
  @include galleryImage(#050100, var(--box-color), white, white)
}

.Profiepage_user-media_container_light {
  @include galleryImage(white,rgb(228, 214, 214),#665e68, black)
}
