.Profile_container_light {
  background-color: #fafafa;
  overflow: hidden;
}

.disableScroll {
  overflow-y: hidden;
  height: 100vh;
}

.Profile_container_dark {
  background-color: #050100;
  overflow: hidden;
}

.user-userinfo {
  padding-top: 20px;
}

.user_profile-edit_small {
  display: none;
}

.Profile_container-user_nav_dark {
  background-image: url("../assets/jwst_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;

  h1,
  p,
  i {
    color: white;
    text-shadow: 2px 2px 0px #000000;
  }
}

.Profile_container-user_nav_light {
  background-image: url("../assets/sunflower.webp");
  background-repeat: no-repeat;
  padding-bottom: 30px;
  background-size: cover;
  h1,
  p,
  i {
    color: black;
    text-shadow: 2px 2px 0px #ffffff;
  }
}

.user_profile_picture-container {
  display: flex;
  justify-content: center;

  img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgb(177, 70, 17);
  }

  img:hover {
    box-shadow: 0px 0px 16px 8px rgb(161, 67, 19);
    transition: box-shadow 0.2s ease-in-out;
  }
}

.user_profile_picture-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  text-decoration: none;

  p {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
  }

  i {
    margin-top: 20px;
    font-weight: bold;
  }
}

@mixin edit_profile-btn($bg) {
  display: flex;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 25px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  background: $bg;
  color: white;

  p {
    font-size: 16px;
  }
}

.user_userinfo-edit_light {
  @include edit_profile-btn(red);
}
.user_userinfo-edit_dark {
  @include edit_profile-btn(rgb(39, 121, 220));
}

@mixin userFollow($col, $padding) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px $padding;
  color: $col;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.user_profile_picture-userinfo_fp_light {
  @include userFollow(black, 50px);
}

.user_profile_picture-userinfo_fp_dark {
  @include userFollow(rgb(243, 231, 231), 50px);
}

@mixin follow($border, $bg, $fontSize, $margin) {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;

  span {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 12px;
    background: $bg;
    border: 1px solid $border;
    font-size: $fontSize;
  }

  span:nth-child(2) {
    margin: 0 $margin;
  }
}

.user_profile_picture-userinfo-follower_light {
  @include follow(black, rgb(238, 226, 226), 18px, 40px);
}

.user_profile_picture-userinfo-follower_dark {
  @include follow(white, rgb(28, 30, 36), 18px, 40px);
}

@mixin galleryImage($bg, $bg2, $svg, $font, $min, $height) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
  grid-gap: 10px;
  padding: 20px 40px;
  background-color: $bg;
  position: relative;

  .Profilepage_user-image_container {
    height: $height;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Profilepage_user-image_uploader {
    background-color: $bg2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 370px;

    svg {
      cursor: pointer;
      color: $svg;
    }

    p {
      padding-top: 10px;
      color: $font;
      font-weight: 600;
      font-size: 20px;
    }

    svg {
      color: blueviolet;
    }
  }
}

.Profilepage_user_image_upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  overflow-y: hidden;

  img {
    height: 500px;
    width: 450px;
  }

  .Profilepage_image-uploader_button {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-top: 15px;
  }
  button {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid gray;
  }

  button:nth-child(1) {
    &:hover {
      background-color: red;
      color: white;
    }
  }
  button:nth-child(2) {
    &:hover {
      background-color: green;
      color: white;
    }
  }
}

.Profiepage_user-media_container_dark {
  @include galleryImage(#050100, rgb(38, 28, 44), white, white, 300px, 370px);
}

.Profiepage_user-media_container_light {
  @include galleryImage(
    white,
    rgb(228, 214, 214),
    #665e68,
    black,
    300px,
    370px
  );
}

@media (max-width: 460px) {
  .user_profile_picture-userinfo-follower_light {
    @include follow(black, rgb(238, 226, 226), 13px, 15px);
  }

  .user_profile_picture-userinfo-follower_dark {
    @include follow(white, rgb(28, 30, 36), 13px, 15px);
  }

  .user_profile_picture-container {
    img {
      height: 300px;
      width: 300px;
    }
  }

  .Profiepage_user-media_container_dark {
    @include galleryImage(#050100, rgb(38, 28, 44), white, white, 240px, 260px);
  }

  .Profiepage_user-media_container_light {
    @include galleryImage(
      white,
      rgb(228, 214, 214),
      #665e68,
      black,
      240px,
      260px
    );
  }

  @mixin edit_profile-btn2($bg) {
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 10px;
    background: $bg;
    color: white;
    margin-bottom: 10px;

    p {
      font-size: 16px;
    }
  }

  .user_profile-edit_big {
    display: none;
  }
  .user_profile-edit_small {
    display: flex;

    .user_userinfo-edit_small_dark {
      @include edit_profile-btn2(rgb(39, 121, 220));
    }
    .user_userinfo-edit_small_light {
      @include edit_profile-btn2(red);
    }
  }

  .Profilepage_user_image_upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    overflow-y: hidden;

    img {
      height: 350px;
      width: 300px;
    }

    .Profilepage_image-uploader_button {
      display: flex;
      width: 300px;
      justify-content: space-around;
      margin-top: 15px;
    }
    button {
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
  .user_profile_picture-userinfo_fp_light {
    @include userFollow(black, 15px);
  }

  .user_profile_picture-userinfo_fp_dark {
    @include userFollow(rgb(243, 231, 231), 15px);
  }

  .user_profile_picture-container {
    img {
      height: 280px;
      width: 280px;
    }
  }
}

@media (max-width: 340px) {
  .user_profile_picture-userinfo-follower_light {
    @include follow(black, rgb(238, 226, 226), 10px, 20px);
  }

  .user_profile_picture-userinfo-follower_dark {
    @include follow(white, rgb(28, 30, 36), 10px, 20px);
  }
}
