.Signup_container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.light {
  background-color: #fafafa;
}
.dark {
  background-color: var(--background-color);
  color: #fafafa;
}

@mixin signUpBox($bg) {
  width: 350px;
  height: 100%;
  background-color: $bg;
  border: 1px solid #dbd9d9;

  .Signup_container-Instagram_image {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 12px;

    img {
      width: 200px;
      height: 100%;
    }
  }

  .Signup_container-Heading_signup_for_friends {
    text-align: center;

    h2 {
      color: rgba(var(--f52, 142, 142, 142), 1);
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 40px 10px;
      text-align: center;
    }
  }

  .Login_container_login-a {
    text-decoration: none;
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 5px 40px;

    .Login_container_login_facebook {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0;
      background-color: blueviolet;
      border: 1px solid #dbd9d9;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      width: 100%;
      cursor: default;

      h2 {
        position: relative;
        top: 2px;
      }
    }
  }
  .separator_OR_dark,
  .separator_OR_light {
    margin: 10px 0;
  }

  .Signup_container-Signup_form-container {
    margin-bottom: 30px;
  }

  .Signup_container-desc {
    text-align: center;

    p {
      color: rgba(var(--f52, 142, 142, 142), 1);
      font-size: 14px;
      line-height: 20px;
      margin: 10px 40px;
    }
  }
}

.Signup_container-box_1_light {
  @include signUpBox(white);
}

.Signup_container-box_1_dark {
  @include signUpBox(var(--box-color));
}

@mixin signUpBox2($bg, $col) {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #dbd9d9;
  margin-top: 10px;
  padding: 23px 0px;
  background-color: $bg;

  span {
    color: $col;
  }
}

.Signup_container-box_2_light {
  @include signUpBox2(white, #314672);
}

.Signup_container-box_2_dark {
  @include signUpBox2(var(--box-color), rgb(217, 200, 200));
}

.Signup_container-box_3 {
  width: 100%;
  margin-top: 20px;
}
