@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');

@mixin Welcomediv($bg, $color) {
  background-color: $bg;
  color: $color;
  overflow: hidden;
  height: 100vh;
}

.Welcome_container_dark {
  @include Welcomediv(black, white);
}

.Welcome_container_light {
  @include Welcomediv(#fafafa, black);
}

.Welcome_container_navbar-container {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.Welcome_text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  //   padding-top: 100px;
  text-align: center;

  h1 {
    font-size: 65px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

    span {
      background: linear-gradient(to right, #0059ff, #ffaa00);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
    }
  }

  h2 {
    font-size: 52px;
    font-family: 'Roboto', sans-serif;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
  }
}

.Welcome_view_profile-button {
  margin-top: 60px;

  button {
    padding: 10px 20px;
    width: 400px;
    border-radius: 8px;
    background-color: #0059ff;
    border: 1px solid rgb(255, 255, 255);

    strong {
      font-size: 18px;
      color: white;
    }
  }

  button:hover {
    box-shadow: 0px 0px 5px 2px blue;
    cursor: pointer;
    strong {
      color: rgba(255, 255, 255, 0.764);
    }
  }
}

@media (max-width: 900px) {
  .Welcome_text-container {
    h1 {
      font-size: 55px;
    }

    h2 {
      font-size: 42px;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
@media (max-width: 750px) {
  .Welcome_text-container {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 34px;
    }

    p {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .Welcome_view_profile-button {
    margin-top: 60px;

    button {
      padding: 10px 20px;
      width: 300px;
    }
  }
}

@media (max-width: 560px) {
  .Welcome_text-container {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
    }

    p {
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .Welcome_view_profile-button {
    margin-top: 40px;

    button {
      padding: 6px 0px;
      width: 200px;

      strong {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 420px) {
  .Welcome_text-container {
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .Welcome_view_profile-button {
    margin-top: 30px;

    button {
      padding: 6px 0px;
      width: 160px;

      strong {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 380px) {
  .Welcome_text-container {
    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      margin-top: 10px;
      font-size: 8px;
    }
  }

  .Welcome_view_profile-button {
    margin-top: 20px;

    button {
      padding: 5px 0px;
      width: 140px;

      strong {
        font-size: 11px;
      }
    }
  }
}
