* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 ;
  scroll-behavior: smooth;
}


:root {
  --background-color: black;
  --box-color: rgb(38, 28, 44);
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

// ------ OR -------

@mixin separator($bg) {
  padding: 0px 40px;

  p {
    position: relative;
    margin-top: 20px;
    text-align: center;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #a3a2a2;
  }

  .one {
    margin-top: 0;
  }
  .one:before {
    content: "";
    display: block;
    border-top: solid 1px #dbd9d9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .one span {
    background: $bg;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
}

.separator_OR_light {
  @include separator(white);
}

.separator_OR_dark {
  @include separator(var(--box-color));
}

// Inputs in Forms

.form_container_inputs {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  input,
  button {
    width: 100%;
  }

  button {
    cursor: pointer;
  }
}

@mixin userInput($border) {
  margin: 0 40px 6px;
  border: 1px solid $border;

  label {
    display: flex;
    height: 36px;
    margin: 0;
    padding: 0;
    position: relative;
    color: rgba(var(--i1d, 38, 38, 38), 1);

    input {
      padding: 7px 0 7px 7px;
      font-size: 12px;
      background: rgba(var(--b3f, 250, 250, 250), 1);
      border: none;
      cursor: text;
    }

    input:focus {
      outline: none;
    }
  }
}

.form_container-input_label_div-light {
  @include userInput(rgba(var(--ca6, 219, 219, 219), 1));
}
.form_container-input_label_div-dark {
  @include userInput(white);
}

// Submit button in forms

@mixin loginfacebook($border) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 40px;

  button {
    padding: 8px 0;
    background-color: blueviolet;
    border: 1px solid $border;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
}

.form_container-submit_div-light {
  @include loginfacebook(rgba(var(--ca6, 219, 219, 219), 1));
}
.form_container-submit_div-dark {
  @include loginfacebook(white);
}


.ChatPage_navbar_light {
  background-color: white;
}
.ChatPage_navbar_dark {
  background-color: black;
}

.ChatPage_container_dark{
  background-color: black;
  // height: 100vh;
}
.ChatPage_container_light{
  background-color: white;
  // height: 100vh;
}