* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 ;
  scroll-behavior: smooth;
}


:root {
  --background-color: black;
  --box-color: rgb(38, 28, 44);
}

::-webkit-scrollbar {
  display: none;
}
