:root {
    --background-color: #1c1f1e;
    --box-color: rgb(42, 43, 46);
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
  }